* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;


}

.font-open-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.header {
  background-color: #fff;
  padding: 16px 0px;

}

nav {
  max-width: 1360px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

nav .menu {

  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;

}



.button {
  position: relative;
  display: inline-block;
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background: #469165;
  font-weight: 600;
  transition: ease-out 0.5s;
  border-radius: 4px;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 0px;
  height: 100%;
  background-color: #000000;
  transition: ease-out 0.5s;
  border-radius: 4px;
  z-index: -1;

}

.button:hover::before {
  width: 100%;


}


/* hero-area =================*/
.hero-area {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;


}

.hero-area::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 25, 49, 0.8);
  transition: ease-out 0.5s;
  border-radius: 4px;
  z-index: -1;
}

.hero-style1 {
  padding: 116px 0 180px 0;
  max-width: 770px;
  display: block;
  margin: auto;
  text-align: center;
}

.hero-style1 .sub-title {
  font-size: 16px;
  color: #469165;
  padding: 7.5px 12px 7.5px 12px;
  background-color: #fff;
  border-radius: 1000px;
  margin-bottom: 13px;
  display: inline-flex;
  align-items: center;
  gap: 6px;


}

.hero-style1 .sub-title .dots {
  position: relative;
  z-index: 2;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: rgba(70, 145, 101, 0.2);
  border-radius: 8px;
  display: inline-block;


}

.hero-style1 .sub-title .dots:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #469165;
  opacity: 0.4;
  border-radius: 8px;

}

.hero-style1 .sub-title .dots:after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #469165;
  border-radius: 8px;

}


.hero-style1 .hero-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;

}

.hero-style1 .hero-title .title {
  color: #30B868;

}

.hero-style1 .hero-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 32px;

}

.hero-style1 .hero-button {
  display: flex;
  gap: 16px;
  justify-content: center;

}

.hero-style1 .hero-button .button {
  letter-spacing: 0px;
  padding: 15px 16px;

}

.hero-style1 .hero-button .button:hover {
  color: #000;
}

.hero-style1 .hero-button .button:before {
  background-color: #fff;
}

.hero-style1 .hero-button .button i {
  margin-left: 10px;
}

.hero-style1 .hero-button .button.border {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  display: flex;
  gap: 16px;
  justify-content: center;


}

.hero-style1 .hero-button .button.border:before {
  background-color: #fff;

}

.hero-style1 .hero-button .button.border:hover {
  color: #000000;
}

/* hero-area end =================*/
.title-area {
  text-align: center;
  margin-bottom: 44px;
}

.title-area .sec-title {
  font-size: 48px;
  font: weight 700px;
  color: #001931;
  margin-bottom: 16px;

}

.title-area .sec-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;


}

/* note area section */
.note-area {
  padding-top: 80px;
  max-width: 1360px;
  display: block;
  margin: auto;
}

.note-wrapper {
  display: flex;
  gap: 24px;
}

.note-card {

  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 70px 24px;
  text-align: center;


}

.note-card .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  padding: 10px;
  text-align: center;
  background-color: #F95555;
  border-radius: 50%;
  display: block;
  margin: auto auto 16px auto;


}

.note-card .icon img {
  transition: all .4s ease-in-out;
}

.note-card .icon:hover img {
  transform: rotateY(180deg);
}


.note-card .box-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #001931;
  margin-bottom: 16px;

}

.note-card .box-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #627382;

}
/* note area section end */
/* brain-section */
.brain-section{
max-width: 1360px;
display: block;
margin:auto;
padding: 120px 0;

}
.brain-wrapper{
  display: flex;
  gap: 60px;
  align-items: center;
}
.box-content{
max-width: 600px;
}
.box-content .title-area{
  text-align: left;
}
.box-content .sub-title{
font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #469165;
display: block;
margin-bottom: 16px;

}
.box-content .sec-title{
font-family: 'Inter';
font-style: normal;
line-height: 58px;
text-transform: capitalize;
color: #001931;
margin-bottom:16px;

}
.box-content .checklist li{

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #001931;
list-style: none;
margin-bottom: 16px;



}
.box-content .checklist li i{
  color: #30B868;
  margin-right: 6px;
  
}
.box-content .sec-text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #627382;

max-width: 510px;

}