* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.font-open-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.header {
  background-color: #fff;
  padding: 16px 0px;

}

nav {
  max-width: 1360px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

nav .menu {

  display: flex;
  list-style-type: none;
  gap: 32px;
}

nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;

}



.button {
  position: relative;
  display: inline-block;
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background: #469165;
  font-weight: 600;
  transition: ease-out 0.5s;
  border-radius: 4px;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 0px;
  height: 100%;
  background-color: #000000;
  transition: ease-out 0.5s;
  border-radius: 4px;
  z-index: -1;

}

.button:hover::before {
  width: 100%;


}


/* hero-area =================*/
.hero-area {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;


}

.hero-area::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 25, 49, 0.8);
  transition: ease-out 0.5s;
  border-radius: 4px;
  z-index: -1;
}

.hero-style1 {
  padding: 116px 0 180px 0;
  max-width: 770px;
  display: block;
  margin: auto;
  text-align: center;
}

.hero-style1 .sub-title {
  font-size: 16px;
  color: #469165;
  padding: 7.5px 12px 7.5px 12px;
  background-color: #fff;
  border-radius: 1000px;
  margin-bottom: 13px;
  display: inline-flex;
  align-items: center;
  gap: 6px;


}

.hero-style1 .sub-title .dots {
  position: relative;
  z-index: 2;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: rgba(70, 145, 101, 0.2);
  border-radius: 8px;
  display: inline-block;


}

.hero-style1 .sub-title .dots:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #469165;
  opacity: 0.4;
  border-radius: 8px;

}

.hero-style1 .sub-title .dots:after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #469165;
  border-radius: 8px;

}


.hero-style1 .hero-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;

}

.hero-style1 .hero-title .title {
  color: #30B868;

}

.hero-style1 .hero-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 32px;

}

.hero-style1 .hero-button {
  display: flex;
  gap: 16px;
  justify-content: center;

}

.hero-style1 .hero-button .button {
  letter-spacing: 0px;
  padding: 15px 16px;

}

.hero-style1 .hero-button .button:hover {
  color: #000;
}

.hero-style1 .hero-button .button:before {
  background-color: #fff;
}

.hero-style1 .hero-button .button i {
  margin-left: 10px;
}

.hero-style1 .hero-button .button.border {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  display: flex;
  gap: 16px;
  justify-content: center;
  

}

.hero-style1 .hero-button .button.border:before {
  background-color: #fff;

}

.hero-style1 .hero-button .button.border:hover {
  color: #000000;
}